doctype html
html
    head
        title='Images'
    body
        img(src = "images/lights.jpg", alt = "Lights" width="200")
        br
        img(src = "static/images/lights.jpg", alt = "Lights" width="200")