doctype html
html
    head
        title="Index"
    body
        include ./header.pug

        hr

        p.greetings#people Hello Index Pug!
        a(href = about) About
        br
        a(href = dynamic) Dynamic
        br
        a(href = images) Images
        br
        a(href = form) Form
        br
        a(href = personform) Person Form

        hr

        include ./footer.pug